:root {
    /* Colors */
    --noir: rgb(0, 0, 0) ;
    --blanc: rgb(255, 255, 255) ;
    --orange: #FF6600;
    --vert: #15500C;
    --gris: rgb(194, 194, 194);
    --gris-galerie: rgb(53, 53, 53);

    /* Fonts */
    --font-texte: 'Futura BK BT';
    --font-titre: 'Ringbearer';

    /* Font sizes */
    --size-h1: 30px;
    --size-h2: 18px;
    --size-texte: 15px;
    --size-descriptif: 12px;
    --size-index: 25px;
    
    /* autres */
    --ligne-width: 200px;
    --margin-cote: 30px;
    --margin-h2: 20px;
}