body{
    background-color: black;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* menu */

.menu{
    background-color: red;
    width: 100%;
    height: 100vh;
    position: fixed;

    right: -100%;
    
    top: 0;
 
    display: flex;
    flex-direction: column;
    transition: right 0.5s;
}

.menu__haut {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5px 10px 5px 15px ;

}


.actif{
    right: 0;
}

nav > ul > li{
    list-style: none;    
}

nav > ul > li > a {
    list-style: none;  
    color: white;
    font-family: "";
}

.menu__liste{
    padding-top: 10px;
    padding-left: 0;
}

.menu__page{
    font-size: var(--menu-h1);
    padding-left: 20px;
    padding-bottom: 0;
    padding-top: 10px;
    margin-bottom: 10px;
}


.menu__page--lien{
    
}

.noscroll{
    overflow: hidden;
}

.menu__lang{
    color: var(--blanc-gris);
    margin: 30px;
}


/* header */

.header {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5px 10px 5px 15px ;
    z-index: 2;
}

.header__bande--logo, .menu__logo{
    width: 80px;
}

/*image fond*/


.main__header--image{
    max-width: 100%;
}

.main__header{
    height: 320px;
}


p{
    color: white;
}


/*test footer*/

.footer{
    background-color: red;
    width: 100%;
}

.footer__nom{
    display: flex;
    justify-content: center;
    color: var(--bleu-clair);
    font-family: var(--font-titre);
    font-size: var(--site-header);
    padding-top: 10px;
    padding-bottom: 40px;
}

.footer__infos, .footer__oeuvre, .footer__contact{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}

.footer__infos--lien, .footer__oeuvre--lien, .footer__contact--lien{
    color: var(--blanc-gris);
    font-family: var(--font-titre);
    font-size: var(--footer-liens);
}

.footer__reseaux{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding: 10px 50px 30px 50px;
}

.footer__reseaux--logo{
    width: 100%;
}

.footer__ligne{
    border-color: white;
    color: white;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 30px;
    width: 120px;
}
