.header {
    background-color: var(--vert);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5px 10px 5px 15px ;
    z-index: 2;
}

.header__bande--logo, .menu__logo{
    width: 80px;
}

.header__bande--langue{
    margin-left: 160px;
    font-family: var(--font-titre);
    font-size: 30px;
    text-decoration: none;
    color: white;
}

h1 {
    font-family: var(--font-titre);
    font-size: var(--size-h1);
    font-weight: normal;
}

.page {
    margin-top: 150px;
}

.page__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.page__header--img {
    position: absolute;
    z-index: -1;
}

.page__header--titre {
    text-align: center;
    margin: 0;
    margin-top: 25px;
    margin-bottom: -30px;
}

.page__header--titre::after {
    content: "";
    display: block;
    width: var(--ligne-width);
    height: 0.5px;
    background-color: var(--orange);
    margin: auto;
    margin-top: 10px;
}

