.menu{
    background-color:var(--vert);
    width: 100%;
    height: 100vh;
    position: fixed;

    right: -100%;
    
    top: 0;
 
    display: flex;
    flex-direction: column;
    transition: right 0.5s;
}

.menu__haut {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5px 10px 5px 15px ;

}

.menu__croix{
    width: 50px;
}


.actif{
    right: 0;
}


.menu__liste{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 80px;
}

.menu__page{
    font-size:20px ;
    padding-bottom: 8px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--blanc);
}


.menu__page--lien{
    list-style: none;  
    color: white;
    font-family: var(--font-titre);
}

.noscroll{
    overflow: hidden;
}

.menu__lang{
    color: var(--blanc-gris);
    margin: 30px;
}
