.page__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.page__header--chapo {
    font-weight: normal;
    margin-left:var(--margin-cote);
    margin-right:var(--margin-cote);
    margin-bottom: 20px;
    font-size: var(--size-h2);
}

.page__header--chapo::after {
    content: "";
    display: block;
    width: var(--ligne-width);
    height: 0.5px;
    background-color: var(--orange);
    margin: auto;
    margin-top: 20px;
}

.media__descriptif {
    margin: 0;
    margin-top: 5px;
    font-size: var(--size-descriptif);
    font-style: italic;
    color: var(--gris);
}

.page__article--texte {
    margin-left:var(--margin-cote);
    margin-right:var(--margin-cote);
    font-size: var(--size-texte);
    line-height: 1.4;
}

.page__article--btn {
    display: flex;
    font-size: var(--size-h2);
    color: var(--orange);
    border: 1px solid var(--blanc);
    border-radius: 50px;
    align-items: center;
    padding: 0px 0px 0px 10px;
    margin-top: 40px;
}

.page__article--btn img{
    width: 30px;
    height: 30px;

}

