.page__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.page__header--chapo {
    font-weight: normal;
    margin-left:var(--margin-h2);
    margin-right:var(--margin-h2);
    margin-bottom: 20px;
    font-size: var(--size-h2);
}

.page__header--chapo::after {
    content: "";
    display: block;
    width: var(--ligne-width);
    height: 0.5px;
    background-color: var(--orange);
    margin: auto;
    margin-top: 20px;
}

.page__article--texte {
    margin-left:var(--margin-cote);
    margin-right:var(--margin-cote);
    font-size: var(--size-texte);
    line-height: 1.4;
}


.liste__chiffres {
    margin-top: 0;
}

.page__article--liste {
    margin-right: 20px;
    font-size: var(--size-texte);
}

.citation {
    margin:-7px 40px 20px 30px;
    border-left: 2px solid var(--orange);
    padding-left: 10px;
    font-style: italic;
}

.citation__auteur {
    margin-bottom:0 ;
}

