/* box anecdote + différences livres/films */

.box {
    margin: 0px 15px 40px 15px;
}

.box__img {
    width: 100%;
}

.box__texte {
    background-color: var(--gris-galerie);
    border-top: 2px solid var(--gris);
    margin-top: -4px;
    width: auto;
    padding: 0px 10px 10px 10px;
}

.meme__box--img {
    border-bottom: 1px solid var(--blanc);
}

.box__texte--fact {
    margin: 0;
    margin-top: 10px;
    font-size: var(--size-texte);
}

/* box memes */

.meme__box {
    margin: 20px 15px 40px 15px;
}

.meme__box--trad {
    margin: 0px 15px 8px 20px;
}
