.box {
    margin: 0px 15px 40px 15px;
}

.box__img {
    width: 100%;
}

.box__texte {
    background-color: var(--gris-galerie);
    border-top: 2px solid var(--blanc);
    margin-top: -4px;
    width: auto;
    padding: 0px 10px 10px 10px;
}

.box__texte--fact {
    margin: 0;
    margin-top: 10px;
}