
/* base */
@import "/src/css/base/main.css";

/* composants */
@import "/src/css/composants/carrousel.css";
@import "/src/css/composants/media.css";
@import "/src/css/composants/article.css";
@import "/src/css/composants/index.css";
@import "/src/css/composants/galerie.css";
@import "/src/css/composants/boutons.css";

/* layout */
@import "/src/css/layout/header.css";
@import "/src/css/layout/footer.css";
@import "/src/css/layout/menu.css";

/* utils */
@import "/src/css/utils/variables.css";

/* vendors */
@import "/src/css/vendors/normalize.css";

/* fonts */
@font-face {
    font-family: 'Futura BK BT';
    src: url('/src/fonts/FutuBk.ttf');
}

@font-face {
    font-family: 'Ringbearer';
    src: url('/src/fonts/RINGM___.TTF');
}